{% extends 'admin/layouts/_base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Search by Order ID</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="{{ path('admin.orders.search') }}" method="post">
                        <div class="input-group">
                            <input type="search"
                                   name="search_term" id="search-term"
                                   class="form-control form-control-lg" placeholder="Type your keywords here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}